// background colors, primary for parent background and secondary for child background
$background-primary: #030005;
$background-secondary: #171717;

// text colors, primary for parent and secondary for child
$text-primary: #ededed;
$text-secondary: #8a9184;

// accent
$accent: #8400ff;
$accent-pink: #ff005a;
$accent-light: #b762c0;
$accent-lightpink: #f1bbd5;

// active
$active: #ecc489;

// error color
$error: #ff3d3d;

// success color
$success: #54b435;

$color: #461111;
