@use "../abstracts" as ab;

.rs-drawer-content {
	background-color: ab.$background-secondary;

	.rs-drawer-body {
		padding-inline: 1.5em;
	}

	.chats {
		height: 80dvh;
		width: 100%;
		background-color: #423f3e2d;
		border-radius: 0.6em;
		position: relative;
		padding-inline: 1em;

		&-history {
			height: 90%;
			overflow-y: scroll;
		}

		&-type {
			position: absolute;
			bottom: 0.8em;
			left: 0.8em;
			right: 0.8em;

			input {
				width: 100%;
				padding-block: 0.3em;
				font-size: 1.2rem;
				border-radius: 0.6em;
				background-color: ab.$text-primary;
				color: ab.$background-secondary;
				padding-inline: 0.5em;
				font-weight: 500;
				border: none;
			}

			button {
				position: absolute;
				right: 0em;
				cursor: pointer;
				translate: -5% 15%;

				color: ab.$accent;
				background-color: transparent;
			}
		}
	}
}
