@use "../abstracts" as ab;

nav {
	width: min(90%, 85rem);
	margin-inline: auto;
	margin-block: 1em;

	display: flex;
	align-items: center;
	justify-content: space-between;

	h1 {
		font-size: clamp(2.2rem, 10vw, 3rem);
		padding-inline-end: 0.1em;
	}

	a {
		display: flex;
		align-items: center;
		gap: 0.2em;

		font-weight: 700;

		padding-inline: 0.4em;
		padding-block: 0.1em;
		border-radius: 0.4em;

		color: ab.$text-primary;
		text-decoration: none;

		transition: color 0.1s ease-in-out;

		&:focus,
		&:hover {
			color: ab.$accent-pink;
		}
	}
}
